[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
diskcache = "*"
fastapi = "*"
google-api-python-client = "*"
google-auth = "*"
httpx = "*"
instructor = "*"
keyring = "*"
openai = "*"
pendulum = "*"
psutil = "*" # Missing dependency for unstructured
pydantic = "*"
pydantic-settings = "*"
sqlmodel = "*"
tqdm = "*"
unstructured = "*"
uvicorn = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.12"
