[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
huggingface-hub = "*"
llama-cpp-python = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.12"
