[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
google-api-python-client = "*"
google-auth = "*"
html2text = "*"
httpx = "*"
jinja2 = "*"
keyring = "*"
pendulum = "*"
psutil = "*"
pydantic = "*"
pydantic-settings = "*"
sqlmodel = "*"
uvicorn = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.12"
